<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azbuka.gshabalov.tsd_alcho_app">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="ru.av.permission.SCANNER_RESULT_RECEIVER" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        <activity android:name=".Activity.StartMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.ScanActivity" />
        <activity android:name=".Activity.ChoosePlod" />
        <activity android:name=".Activity.Settings" />
        <activity android:name=".Activity.ViewActivity" />
        <activity android:name=".Activity.ScanBoxViewActivity" />

        <receiver
            android:name=".Activity.ScanActivity$ScanResultReceiver"
            android:enabled="false"
            android:permission=".app.permission.SCANNER_RESULT_RECEIVER"
            android:priority="0">
            <intent-filter>
                <action android:name="device.scanner.USERMSG" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Activity.ViewActivity$ScanResultReceiver"
            android:enabled="false"
            android:permission=".app.permission.SCANNER_RESULT_RECEIVER"
            android:priority="0">
            <intent-filter>
                <action android:name="device.scanner.USERMSG" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Activity.BoxViewActivity$ScanResultReceiver"
            android:enabled="false"
            android:permission=".app.permission.SCANNER_RESULT_RECEIVER"
            android:priority="0">
            <intent-filter>
                <action android:name="device.scanner.USERMSG" />
            </intent-filter>
        </receiver>
        <activity android:name=".Activity.BoxViewActivity"></activity>
    </application>

</manifest>